<a href="https://colab.research.google.com/github/asifiqbal001/Todo-list/blob/main/Fake_news_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Mount google drive**

In [147]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#**Inserting fake and real dataset**

In [148]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [149]:
df_fake = pd.read_csv("gdrive/My Drive/Education/Ai project/Fake.csv")
df_true = pd.read_csv("gdrive/My Drive/Education/Ai project/True.csv")

**fake news dataset**

In [150]:
df_fake.head(5)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

**True news dataset**

In [151]:
df_true.head(5)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

**Inserting a column called "class" for fake and real news dataset to categories fake and true news.**

In [152]:
df_fake["class"] = 0
df_true["class"] = 1

**Removing last 10 rows from both the dataset, for manual testing**

In [153]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [154]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [155]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

**Merging the manual testing dataframe in single dataset and save it in a csv file**

In [156]:
df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [157]:
df_fake_manual_testing.head(10)

                                                   title  ... class
23471  Seven Iranians freed in the prisoner swap have...  ...     0
23472                      #Hashtag Hell & The Fake Left  ...     0
23473  Astroturfing: Journalist Reveals Brainwashing ...  ...     0
23474          The New American Century: An Era of Fraud  ...     0
23475  Hillary Clinton: ‘Israel First’ (and no peace ...  ...     0
23476  McPain: John McCain Furious That Iran Treated ...  ...     0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  ...     0
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  ...     0
23479  How to Blow $700 Million: Al Jazeera America F...  ...     0
23480  10 U.S. Navy Sailors Held by Iranian Military ...  ...     0

[10 rows x 5 columns]

In [158]:
df_true_manual_testing.head(10)

                                                   title  ... class
21407  Mata Pires, owner of embattled Brazil builder ...  ...     1
21408  U.S., North Korea clash at U.N. forum over nuc...  ...     1
21409  U.S., North Korea clash at U.N. arms forum on ...  ...     1
21410  Headless torso could belong to submarine journ...  ...     1
21411  North Korea shipments to Syria chemical arms a...  ...     1
21412  'Fully committed' NATO backs new U.S. approach...  ...     1
21413  LexisNexis withdrew two products from Chinese ...  ...     1
21414  Minsk cultural hub becomes haven from authorities  ...     1
21415  Vatican upbeat on possibility of Pope Francis ...  ...     1
21416  Indonesia to buy $1.14 billion worth of Russia...  ...     1

[10 rows x 5 columns]

In [159]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")


**Merging the main fake and true dataframe**

In [160]:
df_marge = pd.concat([df_fake, df_true], axis =0 )
df_marge.head(10)

                                               title  ... class
0   Donald Trump Sends Out Embarrassing New Year’...  ...     0
1   Drunk Bragging Trump Staffer Started Russian ...  ...     0
2   Sheriff David Clarke Becomes An Internet Joke...  ...     0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...     0
4   Pope Francis Just Called Out Donald Trump Dur...  ...     0
5   Racist Alabama Cops Brutalize Black Boy While...  ...     0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...     0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...     0
8   Former CIA Director Slams Trump Over UN Bully...  ...     0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...     0

[10 rows x 5 columns]

In [161]:
df_marge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')


**"title", "subject" and "date" columns is not required for detecting the fake news, so I am going to drop the columns.**

In [162]:
df = df_marge.drop(["title", "subject","date"], axis = 1)
df.isnull().sum()

text     0
class    0
dtype: int64

**Randomly shuffling the dataframe**

In [163]:
df = df.sample(frac = 1)
df.head()

                                                    text  class
15495  Yeah you know the Obama regime is serious abou...      0
19829  DOHA (Reuters) - Qatar s defense minister has ...      1
16886  LILONGWE (Reuters) - Police in Malawi said the...      1
7695   Republicans this election cycle have the diffi...      0
11587  Ankara (Reuters) - The United Nations General ...      1

In [164]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [165]:
df.columns
df.head()

                                                text  class
0  Yeah you know the Obama regime is serious abou...      0
1  DOHA (Reuters) - Qatar s defense minister has ...      1
2  LILONGWE (Reuters) - Police in Malawi said the...      1
3  Republicans this election cycle have the diffi...      0
4  Ankara (Reuters) - The United Nations General ...      1

**Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.**

In [166]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [167]:
df["text"] = df["text"].apply(wordopt)

**Defining dependent and independent variable as x and y**

In [168]:
x = df["text"]
y = df["class"]

**Splitting the dataset into training set and testing set.**

In [169]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

**Convert text to vectors**

In [170]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [171]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

#**1. Logistic Regression**

In [172]:
from sklearn.linear_model import LogisticRegression

In [173]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [174]:
pred_lr=LR.predict(xv_test)

In [175]:
LR.score(xv_test, y_test)

0.9878787878787879

In [176]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5836
           1       0.99      0.99      0.99      5384

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

#**2. Decision Tree Classification**

In [177]:
from sklearn.tree import DecisionTreeClassifier

In [178]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [179]:
pred_dt = DT.predict(xv_test)

In [180]:
DT.score(xv_test, y_test)

0.9951871657754011

In [181]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5836
           1       0.99      0.99      0.99      5384

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

#**3. Gradient Boosting Classifier**

In [182]:
from sklearn.ensemble import GradientBoostingClassifier

In [183]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [184]:
pred_gbc = GBC.predict(xv_test)

In [185]:
GBC.score(xv_test, y_test)

0.9953654188948307

In [186]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5836
           1       0.99      1.00      1.00      5384

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

#**4. Random Forest Classifier**

In [187]:
from sklearn.ensemble import RandomForestClassifier

In [188]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [189]:
pred_rfc = RFC.predict(xv_test)

In [190]:
RFC.score(xv_test, y_test)

0.9883244206773618

In [191]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5836
           1       0.99      0.99      0.99      5384

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

#**Model Testing With Manual Entry**
**News**

In [192]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [193]:
news = str(input())
manual_testing(news)

a


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News